@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header {
  height: 70vh;
  max-height: 900px;
  background: url("../../../assets/imgs/portada.png");
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 13vh;
}

#title {
  color: white;
  font-size: 19vw;
  font-family: "Dancing Script", cursive;
  margin-bottom: 20px;
}
#title span {
  color: rgba(103, 175, 169, 0.672);
}

#subtitle {
  color: white;
  font-size: 9vw;
  font-family: "Dancing Script", cursive;
}

#btn-menu {
  margin-top: 40vh;
  background-color: rgba(103, 175, 169, 0.672);
  width: 50vw;
  color: white;
  font-size: 1rem;
  padding: 10px;
  font-family: "LXGW WenKai TC", cursive;
}
#btn-menu:hover {
  box-shadow: 4px 4px 11px aliceblue;
}

#div-carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

#about {
  padding: 30px 20px;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}
#about h2 {
  font-family: "Playfair Display", serif;
}

#carrusel {
  height: 58vw;
}
#carrusel div {
  width: 100%;
  height: 100%;
}
#carrusel div img {
  width: 100%;
  height: 100%;
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.img img {
  width: 100%;
  border-radius: 20px;
}

.img {
  width: 100%;
  height: 70%;
}

.gallary {
  display: grid;
  gap: 15px;
  margin: 0 10px;
  padding-bottom: 20px;
  grid-template-columns: 1fr;
}

.lg {
  display: none;
}

#gallary h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-decoration: underline;
  margin: 10px;
  padding: 30px 0;
}

.text-muted {
  color: #adb5bd;
}

#info-mapa {
  display: grid;
  align-items: center;
  align-content: center;
  padding: 15px;
}
#info-mapa h3 {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}
#info-mapa p {
  margin-bottom: 18px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
#info-mapa div {
  display: grid;
  gap: 10px;
  color: gray;
}

#footer {
  display: grid;
  min-height: 20vh;
  padding: 30px;
  gap: 20px;
  font-family: "Playfair Display", serif;
}
#footer div {
  color: gray;
}

#contact {
  padding: 20px;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (min-width: 800px) {
  #title {
    font-size: 11vw;
  }
  .lg {
    display: block;
  }
  #subtitle {
    font-size: 4rem;
  }
  .header {
    background: url("../../../assets/imgs/portada.png") center fixed;
  }
  .gallary {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row {
    gap: 20px;
  }
  #div-carrusel {
    width: 46%;
    margin: 0;
  }
  #texto {
    width: 40%;
  }
  #about .row {
    justify-content: space-evenly;
  }
  #carrusel {
    height: 36vw;
  }
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contact #map {
    width: 50vw;
  }
  #contact #info-mapa {
    width: 50vw;
  }
  #footer {
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    padding: 0 35px;
    min-height: 20vh;
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .gallary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #btn-menu {
    margin-top: 30vh;
    width: 30vw;
  }
  #info-mapa {
    padding-left: 50px;
  }
}/*# sourceMappingURL=portada.component.css.map */