<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <label nz-radio [(ngModel)]="domicilioChecked" (click)="changeValor('domicilio')">A domicilio</label>
        <label nz-radio [(ngModel)]="restauranteChecked" (click)="changeValor('restaurante')">Restaurante</label>
        <p *ngIf="selectedOption === 'domicilio'">Se come en el domicilio</p>
        <p *ngIf="selectedOption === 'restaurante'">Se come en el restaurante</p>
    </ng-container>
</nz-modal>