<ul class="list-group list-group-flush">
    <li class="list-group-item">{{user.email}}</li>
    <li class="list-group-item"><button (click)="mostrarPedidos()">Pedidos</button></li>
</ul>


<div *ngIf="mostrarLista">
    <div *ngFor="let order of listOrder">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=`#${order.id}`
            aria-expanded="false" aria-controls=`#${order.id}` (click)="getOrdersDetailsId(order.id)">
            Id:{{order.id}}, fecha: {{order.fecha}}</button>

        <div class="collapse multi-collapse" id="order.id">
            <p>hola</p>
            <div *ngFor="let orderDetail of listDetail">
                <div class="card card-body">
                    {{ orderDetail.id }}
                </div>
            </div>
        </div>
    </div>
</div>
