<ul class="list-group list-group-flush">
    <li class="list-group-item">{{user.email}}</li>
    <li class="list-group-item"><button (click)="mostrarPedidos()">Pedidos</button></li>
</ul>


<div *ngIf="mostrarLista">
    @for (order of listOrder; track order.id) {
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="getOrdersDetailsId(order.id)">
            Id:{{order.id}}, fecha: {{order.fecha}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <a *ngFor="let orderDetail of listDetail" class="dropdown-item" href="#">{{orderDetail.id}}</a>
        </div>

    </div>
    }
</div>