.valoraciones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

button{
    right: 15px;
    background-color: blue;
    position: fixed;
    top: 8px;
}
h1{
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
}

.grupo{
    display: grid;
    justify-content: center;
    gap: 21px;
    padding: 20px;
  
}

@media (min-width:800px) {
    .grupo{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1024px) {
    .grupo{
        grid-template-columns: 1fr 1fr 1fr;
    }
}