@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.signup {
  background-image: url("../../../assets/imgs/login.jpg");
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.signup,
.recuperar {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.form-group:last-child {
  margin-bottom: 0px;
}

.signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  & h2 {
    color: #2e1130;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;
  }
}
.signup-content {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  & #registrer-form {
    width: 70%;
  }
}
input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}

.form-button:last-child {
  display: flex;
  justify-content: center;
}
.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  width: 100%;
  & input {
    background-color: rgba(105, 105, 105, 0.829);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  & ::placeholder {
    color: white;
  }
}

form {
  width: 70%;
}

.form-button {
  display: flex;
  justify-content: center;
  & input {
    width: 70%;
    background-color: rgba(245, 222, 179, 0.815);
    color: rgb(59, 46, 72);
    font-family: "Cactus Classical Serif", serif;
    font-weight: bold;

  }
}

a {
  color: white;
  font-family: "Cactus Classical Serif", serif;
}

#no-pass {
  text-align: right;
  padding: 5px;
  display: block;
}

#email-pass {
  width: 75%;
}

button.email-pass {
  border: none;
  background-color: rgba(245, 222, 179, 0.815);
  color: black;
}
#no-cuenta {
  font-weight: bold;
  padding: 10px;
  width: 70%;
  text-align: right;
  & a {
    color: #2e1130;
  }
}
.recuperar {
  background-image: url("../../../assets/imgs/login.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
}
#recuper-title {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
    margin-bottom: 30px;
}

button.email-pass{
  color: rgb(59, 46, 72);
  font-family: "Cactus Classical Serif", serif;
  font-weight: bold;
}

@media (min-width: 800px) {
  .signup {
    height: min-content;
  }
}
@media (min-width: 1024px) {
  #registrer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & div {
      width: 70%;
    }

    & .form-button {
      width: 30vw;
    }
  }

  .signup {
    height: 100vh;
  }

  #no-pass {
    width: 70%;
  }

  #no-cuenta {
    width: 50%;
  }

  #email-pass{
    width: 55%;
  }
}
