<div class="menu">
        <h5 class="card-title">MENU</h5>
        <ul class="list-group">
                @for (product of products; track $index) {
                <li class="list-group-item">
                        <div>
                                <p>{{product.id_producto}}</p>
                                <app-counter (counterUpdate)="updateCounter($event, product.id)" [counter]="product.cantidad"></app-counter>
                        </div>
                </li>
                }
                <app-total [total]="total"></app-total>
                <button type="button" class="btn btn-info" [routerLink]="'ticket'">FINALIZAR PEDIDO</button>
        </ul>
</div>