<phpunit
        bootstrap="./bootstrap.php"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite
                name="digital-chef"
        >
            <directory phpVersion="8.3"></directory>
        </testsuite>
    </testsuites>
</phpunit>
