* {
  margin: 0;
  padding: 0;
}
.product {
  background-color: #ffffff91;
  box-shadow: 10px 4px 16px 1px black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px;
  gap: 15px 11px;
  align-items: center;

}

.title {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  & h4 {
    font-size: 20px;
    padding: 10px 0;
    font-family: "LXGW WenKai TC", cursive;
  }
  & p {
    float: right;
    font-weight: bold;
    font-style: italic;
    font-family: "LXGW WenKai TC", cursive;
  }
}
.menu_content {
  & p {
    font-weight: 300;
    font-size: 14px;
  }
}

.img {
  width: 100px;
    height: 100px;

  & img {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    border-radius: 100%;
  }
}

.btn {
  border-radius: 200%;
  background-color: rgb(249, 127, 255);
  color: white;
  font-size: 20px;
  padding: 10px;
}

#start {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

#footer{
  display: grid;
  justify-items: center;
  justify-content: space-between;
  height: 100%;
  align-content: space-between;
  padding: 12px 0;

  & p {
    font-family: "LXGW WenKai TC", cursive;
  }
}


@media (min-width: 800px) {
  .img {
    width: 183px;
    height: 170px;
    display: flex;
    justify-content: center;
  }

  .product {
    width: 25vw;
    height: 406px;
    grid-template-columns: 1fr;
  }

  #footer{
    grid-template-columns: 1fr 1fr;
    align-items: center;

  }
}


@media (min-width:1024px) {
  .product{
    align-content: center;
    justify-items: center;
    width: 17vw;
  }

  #footer{
    width: 100%;
  }
}